
doc/~$R - FPAS consistency check tools.docx
doc/~$Coba Stylized Fact.xlsx
reference/~$Tanner HHG CLOSED ECON VERSION FOR RELEASE FEB2017.xlsx
reference/Interrelations Among the Macroeconomic Accounts.pdf
reference/FPP1x_Manual.pdf
File RDG Januari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.json
File RDG Februari 2022/workfile_sofie.~f1
File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.wf1
File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.json
File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_20220321_164042_auto.wf1
File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_20220321_164042_auto.json
File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_20220318_152603_auto.wf1
File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_20220318_152603_auto.json
doc/~WRL0416.tmp
doc/~$ylized Fact.docx
doc/catatan ekuilibrium.txt
doc/~$ylized Fact.docx
doc/~$ylized Fact.docx
File RDG Februari 2022/1.Tabel Breakdown Proyeksi RDG Feb 22_realisasi ntf_adj.xlsx
File RDG Februari 2022/8.Tabel Nominal RDG Feb_kirim_r.xlsx
File RDG Februari 2022/Adjustment_Feb 2022_realisasi_adj.xlsx
File RDG Februari 2022/ISMA17_Februari_ikat_realisasi_ntf_adjust_1.xlsx
File RDG Februari 2022/ISMA17_Grafik_Februari.xlsx
File RDG Februari 2022/Tracking NPI 8 Feb'22 17.58 WIB Internal BI.xlsx
File RDG Februari 2022/workfile_sofie.wf1
File RDG Januari 2022/1.MODBI Baseline_19Jan21 (3).xlsx
File RDG Januari 2022/1.Tabel Breakdown Proyeksi RDG Jan 22_adj_6.xlsx
File RDG Januari 2022/8.Tabel Nominal RDG Jan_kirim_r3.xlsx
File RDG Januari 2022/Baseline RDG JAN ARIMBI_KKM_20012022_Baseline_SIM_KEBIJAKAN.xlsx
File RDG Januari 2022/ISMA_Januari_Send_afterkkm_2.xlsx
File RDG Januari 2022/NPI Januari 2021 kirim_2.xlsx
File RDG Januari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.wf1
File RDG Maret 2022/8.Tabel Nominal RDG Mar_18032022.xlsx
File RDG Maret 2022/Adjustment_Mar 2022_ske1.xlsx
File RDG Maret 2022/workfile_sofie_lite_mar_ske1.wf1
File RDG Maret 2022/workfile_sofie_lite_mar_ske1.wf1
File RDG Maret 2022/Adjustment_Mar 2022_ske1.xlsx
File RDG Maret 2022/8.Tabel Nominal RDG Mar_18032022.xlsx
File RDG Januari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.wf1
File RDG Januari 2022/NPI Januari 2021 kirim_2.xlsx
File RDG Januari 2022/ISMA_Januari_Send_afterkkm_2.xlsx
File RDG Januari 2022/Baseline RDG JAN ARIMBI_KKM_20012022_Baseline_SIM_KEBIJAKAN.xlsx
File RDG Januari 2022/8.Tabel Nominal RDG Jan_kirim_r3.xlsx
File RDG Januari 2022/1.Tabel Breakdown Proyeksi RDG Jan 22_adj_6.xlsx
File RDG Januari 2022/1.MODBI Baseline_19Jan21 (3).xlsx
File RDG Februari 2022/workfile_sofie.wf1
File RDG Februari 2022/Tracking NPI 8 Feb'22 17.58 WIB Internal BI.xlsx
File RDG Februari 2022/ISMA17_Grafik_Februari.xlsx
File RDG Februari 2022/ISMA17_Februari_ikat_realisasi_ntf_adjust_1.xlsx
File RDG Februari 2022/Adjustment_Feb 2022_realisasi_adj.xlsx
File RDG Februari 2022/8.Tabel Nominal RDG Feb_kirim_r.xlsx
File RDG Februari 2022/1.Tabel Breakdown Proyeksi RDG Feb 22_realisasi ntf_adj.xlsx
1. File RDG Januari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.json
1. File RDG Januari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.wf1
2. File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.json
2. File RDG Februari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.wf1
2. File RDG Februari 2022/workfile_sofie.~f1
3. File RDG Maret 2022/workfile_sofie_lite_mar_ske1.wf1_Snapshots/snapshot_lastsave.json
3. File RDG Maret 2022/workfile_sofie_lite_mar_ske1.wf1_Snapshots/snapshot_lastsave.wf1
3. File RDG Maret 2022/workfile_sofie_lite_mar_ske1.~f1
4. File RDG April 2022/workfile_sofie_lite_apr.wf1_Snapshots/snapshot_lastsave.json
4. File RDG April 2022/workfile_sofie_lite_apr.wf1_Snapshots/snapshot_lastsave.wf1
4. File RDG April 2022/workfile_sofie_lite_apr.~f1
7. File RDG Juli 2022/Ekspor dan Impor_NPI-SOFIE_Juli.xlsx
7. File RDG Juli 2022/Komponen Demand_SOFIE-Sektoral_ISMA_Juli.xlsx
7. File RDG Juli 2022/~$Ekspor dan Impor_NPI-SOFIE_Juli.xlsx
doc/CATATAN PRESENTASI KAJIAN 05092022.txt
doc/LHP_DKEM_2022 - FPP.docx
doc/Tulisan fpp f.docx
File RDG Februari 2022/1.Tabel Breakdown Proyeksi RDG Feb 22_realisasi ntf_adj.xlsx
File RDG Februari 2022/8.Tabel Nominal RDG Feb_kirim_r.xlsx
File RDG Februari 2022/Adjustment_Feb 2022_realisasi_adj.xlsx
File RDG Februari 2022/ISMA17_Februari_ikat_realisasi_ntf_adjust_1.xlsx
File RDG Februari 2022/ISMA17_Grafik_Februari.xlsx
File RDG Februari 2022/Tracking NPI 8 Feb'22 17.58 WIB Internal BI.xlsx
File RDG Februari 2022/workfile_sofie.wf1
File RDG Januari 2022/1.MODBI Baseline_19Jan21 (3).xlsx
File RDG Januari 2022/1.Tabel Breakdown Proyeksi RDG Jan 22_adj_6.xlsx
File RDG Januari 2022/8.Tabel Nominal RDG Jan_kirim_r3.xlsx
File RDG Januari 2022/Baseline RDG JAN ARIMBI_KKM_20012022_Baseline_SIM_KEBIJAKAN.xlsx
File RDG Januari 2022/ISMA_Januari_Send_afterkkm_2.xlsx
File RDG Januari 2022/NPI Januari 2021 kirim_2.xlsx
File RDG Januari 2022/workfile_sofie.wf1_Snapshots/snapshot_lastsave.wf1
File RDG Maret 2022/8.Tabel Nominal RDG Mar_18032022.xlsx
File RDG Maret 2022/Adjustment_Mar 2022_ske1.xlsx
File RDG Maret 2022/workfile_sofie_lite_mar_ske1.wf1
7. File RDG Juli 2022/Ekspor dan Impor_NPI-SOFIE_Juli.xlsx
7. File RDG Juli 2022/Komponen Demand_SOFIE-Sektoral_ISMA_Juli.xlsx
doc/Tulisan fpp f.docx
